{% extends 'pages/base.html' %}
{% load thumbnail %}
{% block content %}
    <h2> Наименование : {{ object.title|default:"Наименование не определено" }} </h2>
    <p> Артикул: {{object.sku }}</p>
    <p> Размер: {{object.size }}</p>
    <p> Категория: {{object.category }}</p>
    {% thumbnail object.image "100x100" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}<br>
    <p> Вес: {{object.weight }}</p>
    <p> Количество: {{object.quantity }}</p>
    <p> Цена: {{object.price }}</p>
    <p> Продавец: {{object.seller }}</p>
    <a class="btn btn-primary" href="{% url 'good-detail' object.pk %}edit">Редактировать</a>
{% endblock %}