{% extends 'pages/base.html' %}
{% block header%}
    {% include "pages/header.html" with turn_on_block=turn_on_block username=username%}
{% endblock %}
{% block content %}

    {% if turn_on_block %}
    <div class="row-fluid">
        <h2>Блок который появляется</h2>
    </div>
    {% endif%}

    <div class="row">
        <div class="text-center">
            {% load main_tags_filters %}
            {% server_current_time as the_time %}
            <p>Текущее время сервера: {{ the_time }}.</p>
            <p>{{ "Привет мир!"|change_first_last_chars_in_string }}</p>
        </div>
    </div>
{% endblock %}
